/venv
*.pyc
/MANIFEST
/dist
/.cache
/purkinje/static/bower_components/
/purkinje/static/.webassets-cache/
/purkinje/static/gen/
__pycache__
/.coverage
*.egg-info
/build
/.coverage*
/.coverage*
/htmlcov
/node_modules
/npm-debug.log
/.tox
*.bak
/docs/_build
