cssmin==0.2.0
Flask-Assets==0.11
Flask-Compress==1.0.2
Flask-Script==2.0.5
Flask==0.10.1
flotsam>=0.1
future==0.14.3
gevent-websocket==0.9.5
gevent==1.1.1
greenlet==0.4.9
itsdangerous==0.24
Jinja2==2.8
jsmin==2.2.1
MarkupSafe==0.23
purkinje-messages>=0.1
py>=1.4.29
pyaml==14.12.10
six==1.10.0
voluptuous==0.8.7
webassets==0.11.1
websocket-client==0.37.0
Werkzeug==0.11.9
wsgiref==0.1.2
