/* Needed by ui-bootstrap
See http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*test-result-table{
    width: 100%;
    height: 100%;
}*/

/* for Angular ui-grid */
.test-result-table{
    /* TODO appropriate dimensions */
    width: 100%;
    height: 600px;
}

/* For angular-vs-repeat */
.test-result-tbody {
    height: 350px;
    width: 100%;
    overflow: auto;
    display: block;
}

thead {
    display: block;
}
td, th {
    cursor: pointer;
    /*min-width: 195px;
    max-width: 195px;*/
    overflow: hidden;
    font-size: 70%;
    text-overflow: ellipsis;
}

.test-result-col-file{
    min-width: 270px;
    max-width: 270px;
}

.test-result-col-testcase{
    min-width: 440px;
    max-width: 440px;
}

.test-result-col-verdict{
    min-width: 70px;
    max-width: 70px;
}

div#results-charts{
    height: 100px;
}

.verdict{
    height: 100%;
    color: white;
    font-weight: bold;
}

.verdict-pass{
    background-color: #5cb85c; /* TODO DRY  (bootstrap green) */
}

.verdict-fail{
    background-color: #c12e2a; /* TODO DRY (bootstrap red) */
}

.verdict-skipped{
    background-color: #e0e0e0; /* TODO DRY (bootstrap default gray) */
}

.nav-active{
    font-size: 120%;
    /* font-weight: bold; */
    text-decoration: underline;
}

.grid-cell-numeric{
    text-align: right;
    padding-right: 3px;
}

.testsuite-header-inactive{
    color: gray;
}

.testsuite-progress{
    width: 30%;
}

.chart-spacer{
    width: 100px;
}

.dashboard-chart-n{
    margin-left: 30px;
}