<!DOCTYPE html>
<html ng-app="purkinje">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta description="Purkinje test runner">
    <meta name="author" content="bbiskup@gmx.de">
    <!-- See https://exploreflask.com/static.html -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!--[if lt IE 9]><script src="excanvas.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="es5-shim.js"></script><![endif]-->

    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL}}" />
    {% endassets %}

     {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title translate="PURKINJE_APP_TITLE"></title>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>
