<!DOCTYPE html>
<html>

<head>
    <!-- See https://exploreflask.com/static.html -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> 
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL}}" /> 
    {% endassets %}

    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <title>Purkinje Test Runner</title>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>
