<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand app-label" ui-sref="dashboard">purkinje</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-class="{'nav-active': isActive('dashboard')}" ui-sref="dashboard" title="Dashboard"><i class="fa fa-area-chart"></i></a></li>
                <li><a ng-class="{'nav-active': isActive('settings')}" ui-sref="settings" title="Settings"><i class="fa fa-gear"></i></a></li>
                <li><a ng-class="{'nav-active': isActive('about')}" ui-sref="about" title="About"><i class="fa fa-info-circle"></i></a></li>
            </ul>
        </div>
    </div>
</nav>