<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand app-label" ui-sref="dashboard">purkinje</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a href="#" class="connection-status {[connectedClass]}" title="{[connectionStateTitle]}" disabled="disabled"><i class="fa fa-wifi nav-left"></i></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-class="{'nav-active': isActive('dashboard')}" ui-sref="dashboard" title="{['DASHBOARD_HEADLINE' | translate]}"><i class="fa fa-area-chart"></i></a>
                </li>
                <li><a ng-class="{'nav-active': isActive('settings')}" ui-sref="settings" title="{['SETTINGS_HEADLINE' | translate ]}"><i class="fa fa-gear"></i></a>
                </li>
                <li><a ng-class="{'nav-active': isActive('about')}" ui-sref="about" title="{['ABOUT_HEADLINE' | translate]}"><i class="fa fa-info-circle"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
