<div ng-controller="AboutController">
    <h2 translate="ABOUT_HEADLINE"/>

    <div class="row">
        <div class="col-md-12">
            <p><a href="https://github.com/bbiskup/purkinje/"
                  target='_blank'
                  id="purkinje-github-link"
                  translate="PURKINJE_ON_GITHUB"/>
            </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-0 col-sm-12" collapse="isLicenseCollapsed">
            <ng-include src="'/static/templates/license.html'">
            </ng-include>
        </div>
    </div>
</div>
