<!--img ng-if="state" src="/static/images/ajax-loader.gif" alt="spinner" style="width:32px;height:32px;"></img-->
<div class="activity-indicator">
<div style="height: 30px;">{["STATE" | translate]}:
    <img ng-if="state" src="/static/images/ajax-loader.gif" alt="spinner" style="width:32px;height:32px;"></img>
</div>
<p ng-if="state" class="activity-indicator-running text-danger">
    <blink>{[ "RUNNING" | translate]}</blink>
    </p>
<p ng-if="!state" class="activity-indicator-idle text-muted">{["IDLE" | translate]}</p>
</div>
